html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  font-size: 48px;
  font-size: 3rem;
}

html, body, .react-mount, main {
  height: 100%;
  width: 100%;
}

/*main {

}*/

main, .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home {
  padding: 32px;
  padding: 2rem;
}

.directionLight {
  width: 160px;
  width: 10rem;
  height: 160px;
  height: 10rem;
  background-color: red;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="48" /></filter></svg>#filter');
  -webkit-filter: blur(48px);
          filter: blur(48px);
  -webkit-filter: blur(3rem);
          filter: blur(3rem);
  border-radius: 10rem;
  mix-blend-mode: screen;
  /*transition-delay: 1s;*/
}

.whitelight {
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 64px;
  top: 4rem;
  left: 64px;
  left: 4rem;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
  -webkit-filter: blur(4px);
          filter: blur(4px);
  border-radius: 4.5rem;
  z-index: 999;
}

.lightUP {
  left: 315.2px;
  left: 19.7rem;
  top: 112px;
  top: 7rem;
}

.lightRIGHT {
  right: 115.2px;
  right: 7.2rem;
  top: 307.2px;
  top: 19.2rem;
}

.lightDOWN {
  left: 315.2px;
  left: 19.7rem;
  bottom: 137.6px;
  bottom: 8.6rem;
}

.lightLEFT {
  left: 115.2px;
  left: 7.2rem;
  top: 310.4px;
  top: 19.4rem;
}

.light {
  width: 160px;
  width: 10rem;
  height: 160px;
  height: 10rem;
  position: absolute;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
/*
.lightOff {
  transition-delay: 1s;
  opacity: 0;
}

.lightOn {
  transition-delay: 1s;
  opacity: 1;
}*/

.functionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 100rem;
  padding: 16px 32px;
  padding: 1rem 2rem;

  position: absolute;
  bottom: 40px;
  bottom: 2.5rem;
  right: 40px;
  right: 2.5rem;
}

.functionBarText {
  color: white;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.48px;
  letter-spacing: .03rem;
  text-transform: uppercase;
}

.directionPage {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.fieldPage {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/linePattern.png), url(/assets/grassPattern.jpg);
  background-size: 70rem, 30rem;
  background-position: 500px 10px, auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directionwrapper {
  border-radius: 10rem;
  background-color: rgba(255, 0, 0, .5);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  padding: 3rem;

  position: relative;
}

.direction {
  width: 240px;
  width: 15rem;
  height: 240px;
  height: 15rem;
  background-image: url(/assets/Direction.png);
  background-size: contain;
  background-position: center center;
}

/*# sourceMappingURL=style.css.map*/