@import 'reset';

body {
  font-family: Roboto;
  font-size: 3rem;
}

html, body, .react-mount, main {
  height: 100%;
  width: 100%;
}

main {
  background-image: url(../assets/linePattern.png), url(../assets/grassPattern.jpg);
  background-size: 70rem, 30rem;
  background-position: 500px 10px, auto;
}

main, .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.directionwrapper {
  margin: 0 auto;
  width: 55rem;
  border-radius: 55rem;
  height: 55rem;
  background-color: rgba(255, 0, 0, .5);
  position: relative;

}

.direction {
  top: 3rem;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
  background-image: url(../assets/Direction.png);
  background-size: cover;
  position: relative;
  background-position: center center;
}

.home {
  padding: 2rem;
}

.directionLight {
  width: 10rem;
  height: 10rem;
  background-color: red;
  filter: blur(3rem);
  border-radius: 10rem;
  mix-blend-mode: screen;
  /*transition-delay: 1s;*/
}

.whitelight {
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 4rem;
  left: 4rem;
  filter: blur(4px);
  border-radius: 4.5rem;
  z-index: 999;
}

.lightUP {
  left: 19.7rem;
  top: 7rem;
}

.lightRIGHT {
  right: 7.2rem;
  top: 19.2rem;
}

.lightDOWN {
  left: 19.7rem;
  bottom: 8.6rem;
}

.lightLEFT {
  left: 7.2rem;
  top: 19.4rem;
}

.light {
  width: 10rem;
  height: 10rem;
  position: absolute;
  transition-delay: 1s;
}
/*
.lightOff {
  transition-delay: 1s;
  opacity: 0;
}

.lightOn {
  transition-delay: 1s;
  opacity: 1;
}*/

.functionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100rem;
  padding: 1rem 2rem;

  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

.functionBarText {
  color: white;
  font-size: 1rem;
  letter-spacing: .03rem;
  text-transform: uppercase;
}
